{% extends "base.html" %}


<body style="background-color:#800000;">

 

{% block content %}
<body style="background-color:#800000;">

<div class="container theme-showcase" role="main" style="margin-top: 75px"  >
    <div class="p-3 mb-2 bg-warning text-dark">---------------------------------IE---------------------------------Computer Science---------------------------------Andres---------------------------------Term2--------------------------------------</div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#DAA520"  > 
        <h1>Hope you have a great day!</h1>
        <h1>Hello!, Welcome to my TIP solution :)</h1> 
    </div>
</div>
{% endblock %}









